.no-marginBanner{
	margin:-2px;
}

.no-paddingBanner{
	padding:1px;
}

/*.navbar-inverse{
	background-color:#000;
	border-color:#ffffff;
	color:#FFFFFF;
} */

.notice{
	height:auto;
	margin:0px;
	padding:5px;
	border-radius:5px;
}

.notice1{
	margin:0px;
	padding:0px;
	width:100%;
}



.eventHead{
	margin-top:8px;
}

.nested_grid{
	margin-top:8px;
}


.side-menu h4 {
	background-color:#5C4283;
	color:#FFFFFF;
	padding: 8px 5px;
	text-align:center;
}

.controlList ul{
	padding-left: 0px;
}
.controlList ul li{
	padding: 5px 7px;
	list-style:none;
	background-color:#5C4283;
	border-bottom: 1px solid;
	border-bottom-color: rgba(0,0,0,0.2);
}
.controlList ul li a{
	text-decoration:none;
	color:white;
	font-size:17px;
}

.controlList ul li:hover a{
	opacity: .5;
}

.bottom-footer{
	font-size: 13px;
	background-color: #2b2b2b;
	padding:8px;
}

.bottom-footer .left-section{
	color: #4e84b1;
	float: left;
}

.bottom-footer .right-section{
	color: #3e6a8e;
	float: right;
}

.myFooter{
	background-color: #444444;
	margin-top: 15px;
	padding: 20px;
}


.myFooterOther{
	margin-top:8px;
}


.footer-menu ul li{
	list-style: none;
	margin-left: 0px;
	padding: 2px 0;
}

.footer-menu ul li .fa{
	margin-right: 6px;
	color: #767676;
}

.footer-menu ul li a{
	color:#dcdcdc;
	font-size: 12px;
	text-decoration: none;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.footer-menu ul li a:hover{
	color: #FFFFFF;
}

.footer-menu{
	padding-left: 0px;
}

.footer-menu h4{
	color: #FFFFFF;
	margin-left: 40px;
}

.welcome_bsc{
	text-align:justify;background-color:#FFFFFF;padding:8px;margin-top:10px;border:2px solid #E5E5E5;
}

.teacherTable tr{
	margin-top:5px;
}

.teacherTable tr td{
	padding-top:5px;
}

.teacherTable tr td input{
	width:300px;
}

.min-body{
	min-height: 300px;
}



.sidebar-nav .navbar ul {
	float: none;
	display: block;
}
.sidebar-nav .navbar li {
	float: none;
	display: block;
}
.sidebar-nav .navbar li a {
	padding-top: 12px;
	padding-bottom: 12px;
}


.form-control{
	border: 1px solid #bfbfbf;
	border-radius: 2px !important;
}

.form-control:focus{
	border: 1px solid #4098CF;
	box-shadow: none !important;
}

form input.error, form textarea.error{
	border: 1px solid #a94442 !important;
}

form label.error{
	color: #a94442 !important;
	font-weight: normal !important;
}

form sup{
	color: red;
	font-weight: bold;
	font-size: 15px;
	top: -1px;
}


.input-icon{
	position: relative;
}

.input-icon .fa{
	position: absolute;
	padding: 10px;
	width: 32px;
	pointer-events: none;
	border-right: 1px solid #d6d6d6;
}

.input-icon input{
	padding-left: 40px;
	font-size: 15px;
}

.form-center{
	margin: 0px auto;
	margin-top: 37px;
	width: 352px;
}

.text-bold{
	font-weight: bold;
}

.alumni-table tbody tr td{
	vertical-align: middle !important;
}

.alert .fa{
	font-size: 16px !important;
}

.alert{
	text-align: center !important;
	font-weight: bold !important;
}

.admin-side-menu .active{
	background-color: #473366;
}

.public-alumni-table{
	vertical-align: middle !important;
}

.public-alumni-table p{
	margin: 0;
}

.public-alumni-table td{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

#classnameview, #groupnameview{
	font-weight: bold;
}



.shadow-box
{
	position:relative;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow-box:before, .shadow-box:after
{
	content:"";
	position:absolute;
	z-index:-1;
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
	box-shadow:0 0 20px rgba(0,0,0,0.8);
	top:0;
	bottom:0;
	left:10px;
	right:10px;
	-moz-border-radius:100px / 10px;
	border-radius:100px / 10px;
}
.shadow-box:after
{
	right:10px;
	left:auto;
	-webkit-transform:skew(8deg) rotate(3deg);
	-moz-transform:skew(8deg) rotate(3deg);
	-ms-transform:skew(8deg) rotate(3deg);
	-o-transform:skew(8deg) rotate(3deg);
	transform:skew(8deg) rotate(3deg);
}

.academic-table td, .academic-table th{
	vertical-align: middle !important;
	text-align: center !important;
}

.panel-heading .fa{
	margin-right: 4px;
}