.no-marginBanner{
	margin:-2px;
}

.no-paddingBanner{
	padding:1px;
}

/*.navbar-inverse{
	background-color:#000;
	border-color:#ffffff;
	color:#FFFFFF;
} */

.notice{
	height:auto;
	margin:0px;
	padding:5px;
	border-radius:5px;
}

.notice1{
	margin:0px;
	padding:0px;
	width:100%;
}

.myFooter{
	background-color:#444444;
	margin-top: 15px;
}

.myFooterOther{
	margin-top:8px;
}

.eventHead{
	margin-top:8px;
}

.nested_grid{
	margin-top:8px;
}


.side-menu h4, .head-title {
	background-color:#5C4283;
	color:#FFFFFF;
	padding: 8px 5px;
	text-align:center;
}

.controlList ul{
	padding-left: 0px;
}
.controlList ul li{
	padding: 5px 7px;
	list-style:none;
	background-color:#5C4283;
	border-bottom: 1px solid;
	border-bottom-color: rgba(0,0,0,0.2);
}
.controlList ul li a{
	text-decoration:none;
	color:white;
	font-size:17px;
}

.controlList ul li:hover a{
	opacity: .5;
}

.bottom-footer{
	background-color: black;
	color:#5C4283;
	padding:8px;
}

.footerList ul {
	padding-left:30px;
}
.footerList ul li{
	list-style:none;
	margin-left:0px;
}

.footerList ul li a{
	color:#FFFFFF;
}

.welcome_bsc{
	text-align:justify;background-color:#FFFFFF;padding:8px;margin-top:10px;border:2px solid #E5E5E5;
}

.teacherTable tr{
	margin-top:5px;
}

.teacherTable tr td{
	padding-top:5px;
}

.teacherTable tr td input{
	width:300px;
}

.min-body{
	min-height: 300px;
}



.sidebar-nav .navbar ul {
	float: none;
	display: block;
}
.sidebar-nav .navbar li {
	float: none;
	display: block;
}
.sidebar-nav .navbar li a {
	padding-top: 12px;
	padding-bottom: 12px;
}


.form-control{
	border: 1px solid #bfbfbf;
	border-radius: 2px !important;
}

.form-control:focus{
	border: 1px solid #4098CF;
	box-shadow: none !important;
}

form input.error, form textarea.error{
	border: 1px solid #a94442 !important;
}

form label.error{
	color: #a94442 !important;
	font-weight: normal !important;
}

form sup{
	color: red;
	font-weight: bold;
	font-size: 15px;
	top: -1px;
}


.input-icon{
	position: relative;
}

.input-icon .fa{
	position: absolute;
	padding: 10px;
	width: 32px;
	pointer-events: none;
	border-right: 1px solid #d6d6d6;
}

.input-icon input{
	padding-left: 40px;
	font-size: 15px;
}

.form-center{
	margin: 0px auto;
	margin-top: 37px;
	width: 352px;
}

.text-bold{
	font-weight: bold;
}

.alumni-table tbody tr td{
	vertical-align: middle !important;
}

.alert .fa{
	font-size: 16px !important;
}

.alert{
	text-align: center !important;
	font-weight: bold !important;
}

.admin-side-menu .active{
	background-color: #473366;
}

.public-alumni-table{
	vertical-align: middle !important;
}

.public-alumni-table p{
	margin: 0;
}

.public-alumni-table td{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}